@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import "~@ng-select/ng-select/themes/default.theme.css";

.image-symptom {
    background: url("assets/images/patient.svg") center center no-repeat;
    background-size: cover;
    min-height: 380px;
  }
  
  .image-helpme {
    background: url("assets/images/help_old.svg") center center no-repeat;
    background-size: cover;
    min-height: 380px;
  }


.resource .content {
  padding: 30px 0;
}

.resource .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}

.resource .content p {
  margin-bottom: 0;
}

.resource .content .icon-box {
  margin-top: 25px;
}

.resource .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #213b52;
}

.resource .content .icon-box h4 a {
  color: #213b52;
  transition: 0.3s;
}

.resource .content .icon-box h4 a:hover {
  color: #fdc134;
}

.resource .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #fdc134;
}

.resource .content .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}


#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 16px 0;
  background: #213b52;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo h1 a span, #header .logo h1 a:hover span {
  color: #fdc134;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

/*************************************************/
/* The cont */
.cont {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.cont:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.cont input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cont input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.cont .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}