 <div id='emergency'>
  <img src='assets/images/directorio.jpg' class="img-fluid">
 </div>
 
 <footer id="footer">
    <div class="footer-top">

      <div class="container" data-aos="fade-up">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <p></p>
          </div>
        </div>


        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
          <p>Todos los documentos que acá son publicados, así como los síntomas para realizar los diagnósticos
            y las recomendaciones que se realizan es información oficial de 
            la Organización Mundial de la Salud (OMS).
          </p>
          <!--p>Correo: wesly.fernandez1@gmail.com</p-->
          </div>
        </div>

      </div>
    </div>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright. All Rights Reserved
      </div><br>
      <span style="font-size: 11px;">Escríbenos: covid2020.gt@gmail.com</span>
    </div>
  </footer>
