      <section id="helpme" class="resource section-bg">
        <div class="container">
          <div class="row">
            <div class="image-helpme col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
              <div class="content d-flex flex-column justify-content-center">
                <h3 data-aos="fade-in" data-aos-delay="100">Ayudame</h3>
                <p data-aos="fade-in">
                Unete a esta causa en donde nos podremos ayudar mutuamente ante esta crisis.
                Quieres ofrecer tus servicios? Necesitas ayuda? Conoces de  personas que pueden satisfacer 
                una necesidad?                 
                </p>
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="bx bx-receipt"></i>
                    <h4><a href="#">Quiero ayudar</a></h4>
                    <p></p>
                  </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-cube-alt"></i>
                    <h4><a href="#">Necesito ayuda</a></h4>
                    <p></p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
  
        </div>
      </section>