
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Covid Tracker<span>!</span></a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Inicio</a></li>
          <li><a href="#symptom">Diagnosticar</a></li>
          <li><a href="#registers">Estadisticas</a></li>
          <li><a href="#symptom">Infórmate</a></li>          
          <li class="get-started"><a href="#footer">Acerca de...</a></li>
        </ul>
      </nav>

    </div>
  </header>


  <section id="principal-tmp">
    <div class="container">
      <div class="row d-flex align-items-center">
      <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
        <a href="#symptom" class="btn-get-started scrollto">Diagnosticar</a>        
        <a href="#registers" class="btn-get-started scrollto">Estadísticas</a> <br><br>
        <a href="#emergency" class="btn-get-started scrollto">Números de emergencia </a>                
        <h1>Mantente actualizado de los casos Covid-19!</h1>
        <h2>Genera un registro de síntomas!</h2>
        <h2>Infórmate sobre el coronavirus!</h2>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 principal-tmp-img" data-aos="fade-left">
        <img src="assets/images/tracker5.svg" class="img-fluid" alt="">
      </div>
    </div>
    </div>

  </section>